{% load crispy_forms_tags %}

<div id="add_commission_member_dialog" style="display: none;">
    <form id="add_commission_member_form" class="dialog_form" method="post" action="{% url add_commission_member %}">
        {% crispy add_commission_member_form %}

        <input type="hidden" name="location" value="{{ data_location.id }}" />
    </form>
</div>

<script type="text/javascript">
    function add_commission_member_dialog_init(){
        {% if request.user.is_authenticated %}
            $("#add_commission_member_dialog").dialog("open");
        {% else %}
            login_dialog_init();
        {% endif %}
    }

    $(function(){
        $("#add_commission_member_dialog").dialog({autoOpen: false, width: 650, height: 400, modal: true, title: "Добавить члена комиссии",
            buttons: {
                "Добавить": function(){
                    $.post("{% url add_commission_member %}", $("#add_commission_member_form").serialize(), function(data){
                        if (data=="ok"){
                            $("#add_commission_member_dialog").dialog("close");
                            window.location.href = "{{ location.get_absolute_url }}";
                        } else
                            alert(data);
                    });
                },
                "Отмена": function(){$("#add_commission_member_dialog").dialog("close");}
            }
        }).dialog("close");
    });
</script>
