<div id="become_participant_dialog" style="display: none;">
    <div>Выберите вашу роль на избирательном участке</div>
    <form id="become_participant_form" method="post" action="{% url add_role %}">
        {% csrf_token %}
        <input type="hidden" name="loc_id" value="{{ location.id }}" />
        <select name="role">
            {% if not location.is_uik %}
                <option value="participant">Участник</option>
            {% endif %}
            {% if location.date %}
                {% for role, name in ROLE_CHOICES %}
                    <option value="{{ role }}">{{ name }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </form>
    {% if location.is_tik %}
        {% if show_date %}
            <p>Чтобы записаться на другие роли, выберите дату выборов.</p>
        {% else %}
            <p>В этом районе не проходят выборы, поэтому записаться на другие роли нельзя.</p>
        {% endif %}
    {% endif %}
</div>

<script type="text/javascript">
    function become_participant_dialog_init(){
        $("#become_participant_dialog").dialog("open");
    }

    $("#become_participant_dialog").dialog({width:650, height:250, modal: true, title: "Стать участником",
        buttons: {
            "Участвовать": function(){
                if ($('#become_participant_form [name="tik"]').val()=="")
                    alert("Необходимо выбрать район (ТИК)");
                else
                    $.post("{% url add_role %}", $("#become_participant_form").serialize(), function(data){
                        if (data=="ok"){
                            $("#become_participant_form").dialog("close");
                            window.location.reload(true);
                        } else
                            alert(data);
                    });
            },
            "Отмена": function(){$("#become_participant_dialog").dialog("close");}
        }
    }).dialog("close");
</script>
