<div id="change_location_dialog">
    <div>Чтобы стать участником, необходимо перейти на соответствующий ТИК или УИК</div>
    <form id="change_location_form" method="get" action="{% url goto_location %}">
        {% csrf_token %}
        <div id="location_path" class="gr-fl">
            {% include "locations/select.html" %}
        </div>
        <script type="text/javascript">
            $().ready(function(){
                (new SelectLocation({el: $("#location_path"), path: {% if location.is_country %}[]{% else %}{{ location.path }}{% endif %} })).render();
            });
        </script>
    </form>
</div>

<script type="text/javascript">
    function change_location_dialog_init(){
        $("#change_location_dialog").dialog("open");
    }

    $("#change_location_dialog").dialog({width:650, height:250, modal: true, title: "Стать участником",
        buttons: {
            "Перейти": function(){
                if ($('#change_location_form [name="tik"]').val()=="")
                    alert("Необходимо выбрать район (ТИК)");
                else
                    $("#change_location_form").submit();
            },
            "Отмена": function(){$("#change_location_dialog").dialog("close");}
        }
    }).dialog("close");
</script>
