{% extends "base.html" %}

{% load elements %}

{% block title %}
{% if location.region %}{{ location.region }} - {% endif %}
{% if location.tik %}{{ location.tik }} - {% endif %}
{{ location }} - Гракон
{% endblock %}

{% block head %}
    {% if location.date %}
        <style type="text/css">
            body {background-color: #e0e0e0;}
        </style>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% include "locations/breadcrumbs.html" %}
{% endblock %}

{% block left_column %}
    <div class="ym-clearfix">
        {% include "elements/left_panel.html" %}
    </div>

    {% include "dialogs/add_commission_member.html" %}
{% endblock %}

{% block content_header %}
    <h2 class="location_header">{{ location }}</h2>
{% endblock %}

{% block content %}
    {% include template_path %}
{% endblock %}
