<div class="search-filter">
    {% if selected_role_type %}
        <a href="{{ location.tab_url.participants }}" class="pseudolink">Жители</a>
    {% else %}
        <b>Жители</b>
    {% endif %}
    &nbsp;&nbsp;&nbsp;

    {% for role_type, role_name in ROLE_CHOICES %}
        {% if selected_role_type == role_type %}
            <b>{{ role_name }}</b>
        {% else %}
            <a href="{{ location.tab_url.participants }}?type={{ role_type }}" class="pseudolink">{{ role_name }}</a>
        {% endif %}
        &nbsp;&nbsp;&nbsp;
    {% endfor %}
</div>

<ul class="user_list">
    {% for participant in participants %}
        <li>
            <a href="{{ participant.get_absolute_url }}">{{ participant }}</a>
        </li>
    {% endfor %}
</ul>
