{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Сообщить о нарушении - Гражданский контроль за выборами
{% endblock %}

{% block content_header %}
    <h2 class="location_header">Сообщить о нарушении</h2>
{% endblock %}

{% block content %}
    <div class="ym-cbox">
        <div class="static-content">
            <div class="uniForm">
                <div class="ctrlHolder">
                    <label>Местоположение</label>
                    <div>{% include "elements/location_path.html" %}</div>
                </div>

                <div class="ctrlHolder">
                    <label>Дата</label>
                    <div>{{ location.date }}</div>
                </div>
            </div>

            {% crispy form %}
        </div>
    </div>
{% endblock %}