{% extends "base.html" %}

{% block breadcrumbs %}
    {% include "locations/breadcrumbs.html" %}
{% endblock %}

{% block content_header %}
    <h2 class="location_header">{{ violation.get_type_display }}</h2>
{% endblock %}

{% block content %}
    <h4>Местоположение</h4>
    <p>
        {% with location=violation.location %}
            {% include "elements/location_path.html" %}
        {% endwith %}
    </p>

    <h4>Дата</h4>
    <p>{{ violation.location.date }}</p>

    <h4>Источник</h4>
    <p><a href="{{ violation.source.get_absolute_url }}">{{ violation.source }}</a></p>

    {% if violation.text %}
        <h4>Сообщение</h4>
        <p>{{ violation.text }}</p>
    {% endif %}

    {% if violation.url %}
        <h4>Ссылка на доказательства или первоисточник</h4>
        <p><a href="{{ violation.url }}" target="_blank">{{ violation.url }}</a></p>
    {% endif %}

    <p>
        <b>Тип нарушения</b>: {{ violation.get_type_display }}
        <br/>
        <b>Время</b>: {{ violation.time }}
    </p>
{% endblock %}
