{% extends "letters/base.html" %}

{% block content %}
    Дорогие друзья,
    <br/><br/>
    Мы рады презентовать вам обновлённый «Гракон»: <a href="http://grakon.org">http://grakon.org</a>.
    <br/><br/>
    Теперь на площадке появилась возможность работать с любыми выборами в России. На данный момент уже доступны:
    <ul>
        <li><a href="http://grakon.org/location/13612">выборы главы Химок 14 октября</a></li>

        <li><a href="http://grakon.org/location/17535">выборы депутатов Ярославля 14 октября</a></li>

        <li><a href="http://grakon.org/location/17788">выборы в Координационный Совет оппозиции 20-21 октября</a></li>

        <li>и еще <a href="http://grakon.org/elections">пара десятков выборов</a> 14 октября.</li>
    </ul>
    <br/>
    Главная цель проекта "Гракон" - помочь систематизировать информацию о гражданском наблюдении за выборами в России и дать возможность
    местным активистам легко находить друг друга, координировать усилия и обмениваться опытом. На обновленном сайте сделать это стало еще проще.
    <br/><br/>
    Присоединяйтесь!
{% endblock %}