{% load elements %}

<div class="side_block_header side_block_member">
    {% if location %}
        <a href="{% url participants location.id %}?type=member">Члены избирательной комиссии ({{ counters.member }})</a>
    {% else %}
        Члены избирательной комиссии ({{ counters.member }})
    {% endif %}
</div>

<div class="content_block">
    {% button "Я &mdash; член комиссии" "become_member" "" "center" "Для членов избирательных комиссий" %}
</div>

{% with btn_id="become_member" role="member" status_plural="члены комиссии" %}
    {% include "elements/dialog_open_button.html" %}
{% endwith %}
