{% load elements %}

{% if not current_location or current_location.is_region %}
    {% if request.user.is_authenticated %}
        {% include "dialogs/change_location.html" %}
    {% endif %}
{% endif %}

{% include "blocks/voters.html" %}

{% include "blocks/observers.html" %}

{% include "blocks/members.html" %}

{% include "blocks/journalists.html" %}

{% include "blocks/lawyers.html" %}

{% if user.is_authenticated %}
    {% include "dialogs/add_to_contacts.html" %}
{% endif %}

{% include "dialogs/report.html" %}
