<table width="100%" class="gr-add-comment">
    <tr>
        <td width="100%" valign="top">
            <textarea rows="1" style="overflow: hidden; word-wrap: break-word; resize: none;"></textarea>
        </td>
        <td valign="top">
            <button aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" id="become_participant1" original-title="">
                <span class="ui-button-text ym-button">Добавить</span>
            </button>
        </td>
    </tr>
</table>