{% extends "base.html" %}

{% block title %}
    Гракон - гражданский контроль за выборами
{% endblock %}

{% block breadcrumbs %}
    {% include "locations/breadcrumbs.html" %}
{% endblock %}

{% block left_column %}
    <h3 class="column_header column_header_icon"><span class="participants">Участники (<b>{{ counters.total }}</b>)</span></h3>

    <div class="ym-clearfix">
        {% include "elements/left_panel.html" %}
    </div>
{% endblock %}

{% block content %}
    {% include template_path %}
{% endblock %}
