{% load elements %}

<!--
    <p>Чтобы принять участие в работе площадки, рассказать другим пользователям
    о себе и помочь проведению честных выборов, сделайте следующее.</p>

    <div class="blue-title">Присоединяйтесь к нам в соцсетях</div>
    <div class="check-list-step">
        <p>Присоединяйтесь к нам в соцсетях и расскажите о нас своим друзьям</p>
        {% include "elements/share_horizontal.html" %}
        <p>или подпишитесь на нас:</p>
        <div>
            {% include "elements/read_us.html" %}
        </div>
    </div-->

    <!--p>Гракон&nbsp;&mdash; мини-соцсеть для координации работы любых организаций и&nbsp;граждан,
объединенных одной целью&nbsp;&mdash; <b>проведением честных выборов</b> президента 4&nbsp;марта.</p>

	<p>Удобная структура площадки позволяет участникам эффективно находить поблизости
    именно тех людей и&nbsp;группы, которые могут им&nbsp;помочь. В&nbsp;результате активные участники
    могут скоординировать свои действия в&nbsp;день выборов и&nbsp;минимизировать шансы
    возникновения нарушений на&nbsp;участках.</p-->

    <!--div class="center">
        <iframe width="450" height="259" src="http://www.youtube.com/embed/9YQTq4d3WJ0" frameborder="0" allowfullscreen></iframe>
    </div>

    <br/>
-->

    <!--div class="blue-title">Тем временем</div-->

    <div class="step"><i>2</i><p>Вы можете выложить ссылку на зафиксированное веб-камерами видео
        на страницу соответствующего УИКа</p>
        {% button "Выложить ссылку на видео" "become_web_observer2" "" %}
        <!--Также рекомендуем Вам воспользоваться удобной функцией
        ускорения видео и последующего детального анализа, представленной на сайте "Считайте Сами".-->
    </div>

    <div class="step"><i>3</i><p>Вы можете легко <b>составить жалобу</b>, воспользовавшись
        сайтом <a href="http://kuda-komu.net/voting/" target="_blank">Куда?Кому?</a>.</p>
        <br/>
    </div>

    <script type="text/javascript">
        set_select_location("choose_regions", []);
        $("#login_content1, #login_content2, #login_content3").click(function(){
            login_dialog_init("Войдите в систему, используя логин/email или свой аккаунт на других сервисах:");
        });
    </script>
