{% load elements %}
<div class="static-content">
<h4 style="margin-top: 10px;">О себе</h4>
<div>
    {% if profile_user.profile.about %}
        {{ profile_user.profile.about|safe }}
    {% else %}
        {% if profile_user == user %}
            <i><a href="{% url edit_profile %}">Добавьте</a> информацию о себе.</i>
        {% else %}
            <i>Пользователь еще не добавил информацию о себе.</i>
        {% endif %}
    {% endif %}
</div>

<h4>Участие в выборах</h4>
<ul>
    {% include "elements/roles.html" %}
</ul>

{% if not is_admin %}
    {% include "dialogs/send_message.html" %}

    {% with is_participant=is_follower button=profile.follow_button btn_class="gr-follow-button gr-mb10" pressed_button="gr-grey-button" %}
        {% include "participants/participate_button.html" %}
    {% endwith %}
{% endif %}

{% if profile_user == user %}
    <div>
        Чтобы записаться участником в своем избирательном округе, перейдите на страницу
        округа и запишитесь, нажав соответсвующую кнопку в левой панели.
    </div>
    <div class="user_actions">
        {% button "Стать участником" "become_participant" "" "" %}
    </div>
{% endif %}
<br />
</div>
