{% load elements %}
<div class="static-content">
<h4 style="margin-top: 10px;">О себе</h4>
<div>
    {% if profile_user.profile.about %}
        {{ profile_user.profile.about|safe }}
    {% else %}
        {% if profile_user == user %}
            <i><a href="{% url edit_profile %}">Добавьте</a> информацию о себе.</i>
        {% else %}
            <i>Пользователь еще не добавил информацию о себе.</i>
        {% endif %}
    {% endif %}
</div>

<h4>Участие в выборах</h4>
<ul>
    {% include "elements/roles.html" %}
</ul>

{% if profile_user != user %}
    <div id="in_contacts"><i>Добавлен в контакты</i></div>
    <div id="is_reported" {% if not is_reported %}style="display:none;"{% endif %}><b>Вы пожаловались на этого пользователя</b></div>

    <div class="user_actions">
        {% button "Отправить сообщение" "send_message" "" "" %}&nbsp; 
        {% button "Добавить в контакты" "add_to_contacts" "" "" %}&nbsp; 
        {# button "Удалить из контактов" "remove_from_contacts" "" "" #}
    </div>

    <script type="text/javascript">
        // Create buttons
        $("#report_user").click(function(){
            report_dialog_init("user", {username: "{{ profile_user.username }}"});
        });


    </script>
{% endif %}

{% if profile_user == user %}
    <div>
        Чтобы записаться участником в своем избирательном округе, перейдите на страницу
        округа и запишитесь, нажав соответсвующую кнопку в левой панели.
    </div>
    <div class="user_actions">
        {% button "Стать участником" "become_participant" "" "" %}
    </div>

    {% include "dialogs/change_location.html" %}

    <script type="text/javascript">
        $("#become_participant").click(function(){
            change_location_dialog_init("Стать участником", "Выберите ваш избирательный округ", "");
        });
    </script>
{% endif %}
<br />
</div>
