{% load elements %}

<div class="static-content">
    <h4 style="margin-top: 10px;">О себе</h4>
    <div>
        {% if profile.about %}
            {{ profile.about|safe }}
        {% else %}
            {% if is_admin %}
                <i><a href="{% url edit_profile %}">Добавьте</a> информацию о себе.</i>
            {% else %}
                <i>Пользователь еще не добавил информацию о себе.</i>
            {% endif %}
        {% endif %}
    </div>

    <h4>Место жительства</h4>
    <ul>
        {% for loc in info.locations.entities %}
            {% with location=loc.instance %}
                <li>{% include "locations/path.html" %}</li>
            {% endwith %}
        {% endfor %}
    </ul>

    <h4>Участие в выборах</h4>
    <ul>
        {% for role in roles %}
            <li role_id="{{ role.id }}" class="role_item">
                {% with location=role.location %}
                    {% include "elements/location_path.html" %}
                {% endwith %} - {{ role.get_type_display }}
            </li>
        {% endfor %}
    </ul>

    <br/>

    {% if not is_admin %}
        {% include "dialogs/send_message.html" %}

        {% button "Отправить сообщение" "send_message" "" "" %}&nbsp;

        <script type="text/javascript">
            $("#send_message").click(function(){
                send_message_dialog_init("{{ profile.id }}");
            });
        </script>

        {% with is_participant=is_follower button=profile.follow_button btn_class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" pressed_button="" %}
            {% include "participants/participate_button.html" %}
        {% endwith %}
    {% endif %}

    {% if is_admin %}
        <script type="text/javascript">
            $(".role_item").each(function(index){
                role_remove_btn($(this));
            });
        </script>

        <p>
            Чтобы записаться участником в своем избирательном округе, перейдите на страницу
            округа и запишитесь, нажав кнопку "Стать участником" в левой панели.
        </p>
        <div class="user_actions">
            {% button "Стать участником" "become_participant" "" %}
        </div>

        {% include "dialogs/change_location.html" %}

        <script type="text/javascript">
            $("#become_participant").click(function(){
                change_location_dialog_init();
            });
        </script>
    {% endif %}
    <br/>
</div>
