<div class="ym-wrapper" style="z-index: 5">
    <div class="date-selection">
        Выбрать дату выборов
        <!--input type="button" value="14 октября 2012" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary date-button-disabled" /><a-->

        {% for loc in related_locations %}
            <a style="text-decoration:none;" href="{{ loc.get_absolute_url }}"><input type="button" value="{% if loc.date %}{{ loc.date }}{% else %}Дата не выбрана{% endif %}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary {% if location.date == loc.date %}button-blue{% endif %}" /></a>
        {% endfor %}
    </div>

    <div class="breadcrumbs">
        <ul>
            <li class="first">
               {% if location.country %}
                    <a href="{{ location.country.get_absolute_url }}">Россия<i></i><b></b></a>
               {% else %}
                    <a href="{{ location.get_absolute_url }}" class="br-active">Россия<i></i><b></b></a>
               {% endif %}
            </li>

            {% if location.region %}
                <li>
                    <a href="{{ location.region.get_absolute_url }}">{{ location.region }}<i></i><b></b></a>
                </li>
            {% endif %}

            {% if location.tik %}
                <li>
                    <a href="{{ location.tik.get_absolute_url }}">{{ location.tik }}<i></i><b></b></a>
                </li>
            {% endif %}

            {% if not location.is_country %}
                <li>
                    <a href="{{ location.get_absolute_url }}" class="br-active">{{ location }}<i></i><b></b></a>
                </li>
            {% endif %}

            {% if subregions %}
                <li>
                    <form id="goto_subregion_form" action="{% url goto_location %}" method="get" style="display:inline; margin:0; padding:0;">
                        <select id="goto_subregion" name="region">
                            {% for id, name in subregions %}
                                <option value="{{ id }}">{% if location.is_tik %}УИК № {% endif %}{{ name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </li>
            {% endif %}
        </ul>

        {% if show_date %}
            {% if location.date or related_locations|length > 1 %}
                {% if location.is_tik and not location.date %}
                    <span class="fl" style="margin-top:0.7em; margin-left: 2em;">Чтобы увидеть УИКи, выберите дату</span>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>


<script type="text/javascript">
    $("#goto_subregion").change(function(){
        $("#goto_subregion_form").submit();
    });
</script>
