<div class="ym-wrapper" style="z-index: 5">
    <div class="breadcrumbs">
        <ul>
            <li class="first">
               {% if location.country %}
                    <a href="{{ location.country.get_absolute_url }}">Россия<i></i><b></b></a>
               {% else %}
                    <a href="{{ location.get_absolute_url }}" class="br-active">Россия<i></i><b></b></a>
               {% endif %}
            </li>

            {% if location.region %}
                <li>
                    <a href="{{ location.region.get_absolute_url }}">{{ location.region }}<i></i><b></b></a>
                </li>
            {% endif %}

            {% if location.tik %}
                <li>
                    <a href="{{ location.tik.get_absolute_url }}">{{ location.tik }}<i></i><b></b></a>
                </li>
            {% endif %}

            {% if not location.is_country %}
                <li>
                    <a href="{{ location.get_absolute_url }}" class="br-active">{{ location }}<i></i><b></b></a>
                </li>
            {% endif %}

            {% if subregions %}
                <li>
                    <form id="goto_subregion_form" action="{% url goto_location %}" method="get" style="display:inline; margin:0; padding:0;">
                        <select id="goto_subregion" name="region">
                            {% for id, name in subregions %}
                                <option value="{{ id }}">{% if location.is_tik %}УИК № {% endif %}{{ name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </li>
            {% endif %}
        </ul>

        {% if show_date %}
            {% if location.date or related_locations|length > 1 %}
                <ul class="fr">
                    <li>
                        <i>&nbsp;</i>
                        <span class="page-select br-active" onclick="$('#header-table').toggle();">
                            {% if location.date %}{{ location.date }}{% else %}Выбрать дату выборов{% endif %}
                        </span>
                    </li>
                </ul>

                {% if location.is_tik and not location.date %}
                    <span class="fr" style="margin-top:0.7em; margin-right: 1em;">Чтобы увидеть УИКи, нужно</span>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

    <div id="header-table">
        <ul>
            {% for loc in related_locations %}
                {% if location.date != loc.date %}
                    <li><a href="{{ loc.get_absolute_url }}">{% if loc.date %}{{ loc.date }}{% else %}Все даты{% endif %}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>


<script type="text/javascript">
    $("#goto_subregion").change(function(){
        $("#goto_subregion_form").submit();
    });
</script>
