<p>Главная цель проекта "Гракон" (ГРАжданский КОНтроль) - помочь систематизировать информацию о гражданском наблюдении за выборами в России и дать возможность местным активистам легко находить друг друга, координировать усилия и обмениваться опытом. Под это заточена вся структура сайта:</p>

<ul>
    <li>удобная <b>географическая иерархия страниц</b> позволяет за несколько секунд найти информацию о выборах в своем районе и активистов, участвующих в наблюдении за ними</li>
    <li><b>разделение информации по дате выборов</b> дает возможность сохранять и сравнивать данные о любых выборах в стране</li>
    <li><b>роли для пользователей</b> (избиратели, наблюдатели, члены комиссий, журналисты, юристы) позволяют быстро найти нужного специалиста</li>
    <li>удобные <b>инструменты</b> (ссылки на полезную наблюдателям информацию, запись на веб-наблюдение, протоколирование нарушений) дают возможность собрать важную информацию в одном месте и скоординировать усилия наблюдателей.</li>
</ul>

<p>Таким образом, вся информация о выборах и их участниках легко добавляется, сохраняется и, что самое прекрасное, находится и анализируется.</p>

<p>По любым вопросам о работе сайте пишите на <a href="mailto:admin@grakon.org">admin@grakon.org</a>.</p>