<p>Главная цель площадки Гракон&nbsp;&mdash; объединение активных граждан России для независимого общественного
мониторинга хода выборов в стране. На&nbsp;площадке запрещена любая деятельность,
не&nbsp;связанная напрямую с&nbsp;контролем выборов или нарушающая Российское законодательство:</p>

<ul>
    <li>любая прямая агитация за&nbsp;или против любых политических сил;</li>
    <li>флуд, спам, троллинг;</li>
    <li>действия, не&nbsp;связанные напрямую с&nbsp;выборным процессом;</li>
    <li>экстремистская деятельность;</li>
    <li>разжигание межнациональной или межрасовой вражды;</li>
    <li>призывы к&nbsp;насилию, угрозы.</li>
</ul>

<p>Администрация площадки не&nbsp;может полностью контролировать соблюдение выше-обозначенных правил и&nbsp;не&nbsp;несет ответственность за&nbsp;материалы, размещенные на&nbsp;сайте. В&nbsp;то&nbsp;же время, мы&nbsp;призываем пользователей помогать нам проводить модерирование, сообщая об обнаруженных грубых нарушениях на <a href="mailto:admin@grakon.org">admin@grakon.org</a>. Мы&nbsp;будем удалять запрещенные материалы и&nbsp;банить пользователей, не&nbsp;соблюдающих установленные правила.</p>